6<template>
	<v-card outlined class="pa-2 px-3">
		<v-card-title>
			Shipping details
		</v-card-title>
		<v-card-text>
			<v-row>
				<v-col cols="6">
					<v-text-field
						v-model="value.first_name"
						label="Nombres *"
						outlined
						color="#1e354e"
						:rules="[required('Nombres')]"
						counter="50"
						maxlength="50"
					></v-text-field>
				</v-col>
				<v-col cols="6">
					<v-text-field
						v-model="value.last_name"
						label="Apellidos *"
						outlined
						color="#1e354e"
						:rules="[required('Apellidos')]"
						counter="50"
						maxlength="50"
					></v-text-field>
				</v-col>
				<v-col cols="12" class="py-0">
					<v-text-field
						v-model="value.address"
						label="Dirección *"
						outlined
						color="#1e354e"
						counter="100"
						maxlength="100"
						:rules="[required('Dirección')]"
					></v-text-field>
				</v-col>
				<v-col cols="12" class="py-0">
					<v-text-field
						v-model="value.reference"
						label="Referencia *"
						outlined
						color="#1e354e"
						counter="100"
						maxlength="100"
						:rules="[required('Referencia')]"
					></v-text-field>
				</v-col>
				<v-col cols="12" class="py-0">
					<v-select
						v-model="value.country"
						label="Pais *"
						outlined
						color="#1e354e"
						:menu-props="{
							offsetY: true,
						}"
						no-data-text="No hay datos"
						return-object
						:items="countries"
						:rules="[requiredSelect('Pais')]"
					></v-select>
				</v-col>
				<v-col cols="12" class="py-0">
					<v-text-field
						v-model="value.province"
						label="Estado / Provincia *"
						outlined
						color="#1e354e"
						counter="100"
						maxlength="100"
						:rules="[required('Estado / Provincia')]"
					></v-text-field>
				</v-col>
				<v-col cols="12" class="py-0">
					<v-text-field
						v-model="value.city"
						label="Ciudad *"
						outlined
						color="#1e354e"
						counter="100"
						maxlength="100"
						:rules="[required('Ciudad')]"
					></v-text-field>
				</v-col>
				<v-col cols="12" class="py-0">
					<v-text-field
						v-model="value.phone"
						label="Número de teléfono *"
						outlined
						color="#1e354e"
						:rules="[required('Teléfono')]"
						counter="20"
						maxlength="20"
					></v-text-field>
				</v-col>
			</v-row>
		</v-card-text>
	</v-card>
</template>

<script>
import { rules } from "@/utils/rules";

export default {
	name: "CardShippingDetails",

	props: ["value"],

	data: () => ({
		required: rules.requiredHard,
		requiredSelect: rules.requiredLight,
		countries: [
			{
				id: 1,
				text: "Peru",
			},
			{
				id: 2,
				text: "Argentina",
			},
		],
	}),
};
</script>
