<template>
	<v-card outlined class="pa-2">
		<v-card-title class="px-1">
			Tu Orden {{ cartCount > 0 ? `(${cartCount})` : "" }}
		</v-card-title>
		<v-card-text class="px-1">
			<v-row :class="{ 'effect-blur': co_loading }">
				<v-col cols="12">
					<ul class="unlist pa-0 order-summary-products">
						<li
							v-for="item in cartProducts"
							:key="item.item_sku"
							class="order-summary-product"
						>
							<div class="d-flex align-items-start">
								<v-img
									:src="item.item_image"
									:alt="item.item_name"
									max-width="64"
									class="rounded"
								></v-img>
								<div class="flex px-4">
									<h5
										class="subtitle-1 font-weight-medium text-darken leading-normal"
									>
										<router-link
											:to="{
												name: 'DetailProductRoute',
												params: { productId: item.item_sku },
											}"
											class="link"
										>
											{{ item.item_name }}
										</router-link>
									</h5>
									<h6
										class="body-1 text-silver font-weight-medium mb-1 leading-normal"
									>
										{{ item.subtotal | currency }}
									</h6>
									<QuantityControl
										:quantity="item.quantity"
										:sku="item.item_sku"
										@loading="onControlLoading"
										:dense="true"
									/>
								</div>
								<div>
									<v-btn icon>
										<v-icon
											@click="onRemoveItem(item)"
											color="error"
											title="Remover Item"
										>
											mdi-trash-can-outline
										</v-icon>
									</v-btn>
								</div>
							</div>
						</li>
					</ul>
				</v-col>
				<v-col cols="12">
					<SummaryPayment />
					<div>
						<v-checkbox v-model="legal" color="secondary">
							<template v-slot:label>
								<div class="body-2">
									He leído y acepto los
									<a
										target="_blank"
										href="./terminos-condiciones"
										@click.stop
										class="ml-1 blue--text"
									>
										Terminos y Condiciones
									</a>
									del sitio web
								</div>
							</template>
						</v-checkbox>
					</div>
					<v-btn
						v-if="cartCount > 0"
						large
						block
						color="secondary"
						depressed
						:disabled="!legal || loading"
						:loading="loading"
						@click="onCheckout"
					>
						Pagar
					</v-btn>
					<v-btn
						outlined
						large
						block
						color="#DDDFE3"
						class="text-silver mt-3 mt-3"
						:to="{ name: 'ListProductsRoute' }"
					>
						<v-icon color="#828D9E">mdi-chevron-left</v-icon>
						<span class="text-silver">
							Continuar comprando
						</span>
					</v-btn>
				</v-col>
			</v-row>
			<ScreenLoader v-if="co_loading"> Actualizando...</ScreenLoader>
		</v-card-text>
	</v-card>
</template>

<script>
import { mapGetters, mapState } from "vuex";

import QuantityControl from "@/components/QuantityControl";
import SummaryPayment from "@/components/SummaryPayment";
import CartOperations from "@/mixins/cart-operations";
import ScreenLoader from "@/components/ScreenLoader";

export default {
	name: "CardOrderSummary",
	mixins: [CartOperations],
	components: {
		QuantityControl,
		ScreenLoader,
		SummaryPayment,
	},

	props: ["loading"],

	data: () => ({
		legal: false,
	}),

	computed: {
		...mapState({
			user: (state) => state.session.user,
			orderId: (state) => state.orderId,
			purchase_number: (state) => state.purchase_number,
		}),
		...mapGetters(["cartProducts", "total", "cartCount"]),
	},

	methods: {
		onRemoveItem(product) {
			this.$_removeItem(product.item_sku, this.orderId);
		},
		onControlLoading(value) {
			this.co_loading = value;
		},
		onCheckout() {
			let email = null;
			let userId = null;
			let registered_days = null;

			if (this.user) {
				email = this.user.email;
				userId = this.user.user_id;
				registered_days = this.user.registered_days;
			}

			this.$emit("checkout", {
				amount: parseFloat(this.total),
				orderId: this.orderId,
				email,
				userId,
				registered_days,
				purchase_number: this.purchase_number,
			});
		},
	},
};
</script>

<style lang="scss">
.order-summary-products {
	max-height: 480px;
	overflow-y: auto;
}
.order-summary-product {
	padding: 12px;
	background-color: #eee;
	border-radius: 3px;

	&:not(:last-child) {
		margin-bottom: 14px;
	}
}
</style>
