<template>
	<div id="checkout" class="py-10">
		<v-form ref="formCheckout">
			<div class="container">
				<v-row>
					<v-col cols="12">
						<v-breadcrumbs :items="navigationItems" class="pa-0">
							<template v-slot:divider>
								<v-icon>mdi-chevron-right</v-icon>
							</template>
						</v-breadcrumbs>
					</v-col>
					<v-col cols="12">
						<title-page>Checkout</title-page>
					</v-col>
				</v-row>
				<v-row>
					<v-col>
						<CardShippingDetails v-model="shipping" />
					</v-col>

					<v-col style="max-width: 400px">
						<CardOrderSummary
							@checkout="onCheckout"
							:loading="loadingCheckout"
						/>
					</v-col>
				</v-row>
			</div>
		</v-form>
	</div>
</template>

<script>
// Utils
import BreadcrumbsCheckout from "./breadcrumbs";

// Componentso
import CardShippingDetails from "./CardShippingDetails";
import CardOrderSummary from "./CardOrderSummary";

import CheckoutService from "@/services/Checkout.service";
import { notifyError } from "@/helpers/notify";

import { encrypt } from "@/helpers/crypto";

export default {
	name: "Checkout",

	components: {
		CardShippingDetails,
		CardOrderSummary,
	},

	data: () => ({
		navigationItems: BreadcrumbsCheckout,
		shipping: {
			first_name: null,
			last_name: null,
			address: null,
			reference: null,
			country: null,
			province: null,
			city: null,
			phone: null,
		},
		loadingCheckout: false,
	}),

	methods: {
		onCheckout(orderData) {
			const isValiForm = this.$refs.formCheckout.validate();

			if (isValiForm && !this.loadingCheckout) {
				const dataOrderShipping = { ...this.shipping, ...orderData };
				this.checkoutNiubiz(dataOrderShipping);
			}
		},

		async checkoutNiubiz(dataCheckout) {
			try {
				this.loadingCheckout = true;

				//1. Get Securit Tyoken
				const ResponseSecurity = await CheckoutService.getTokenSecurity();

				// 1.1 Prepare payload
				const tokenSecurity = ResponseSecurity.data.accessToken;
				const payload = this.getPayloadToSession(tokenSecurity, dataCheckout);

				// if false, significa que payload no tiene los campos necesarios para proceder con el pago

				if (payload) {
					// 2. Get Session Token
					const ResponseSession = await CheckoutService.getTokenSession(
						payload
					);

					// 3. Show Form Payment Niubiz
					const { sessionKey: tokenSession, merchantId } = ResponseSession.data;
					const { amount, orderId, purchase_number } = dataCheckout;
					this.showFormPaymentNiubiz(
						tokenSession,
						merchantId,
						orderId,
						purchase_number,
						amount,
						tokenSecurity
					);
				} else {
					notifyError(
						"Oops!, estamos teniendo problemas con el proceso de pago, intentelo en otro momento, gracias!"
					);
				}
			} catch (error) {
				notifyError(error);
			} finally {
				this.loadingCheckout = false;
			}
		},

		getPayloadToSession(tokenSecurity, dataOrderShipping) {
			const { amount, email, userId, registered_days } = dataOrderShipping;

			if (!email || !userId) return false;

			return {
				accessToken: tokenSecurity,
				amount: amount,
				antifraud: {
					merchantDefineData: {
						MDD4: email,
						MDD21: 1,
						MDD32: userId,
						MDD75: "Registrado",
						MDD77: registered_days,
					},
				},
			};
		},

		showFormPaymentNiubiz(
			sessionToken,
			merchantId,
			orderId,
			purchase_number,
			amount,
			tokenSecurity
		) {
			const dataEncoded = encrypt({
				accessToken: tokenSecurity,
				amount,
				orderId,
				merchantId,
				purchaseNumber: purchase_number,
			});
			const action = this.getRequestAction(dataEncoded);

			VisanetCheckout.configure({
				sessiontoken: sessionToken,
				channel: "web",
				merchantid: merchantId,
				purchasenumber: purchase_number,
				amount: amount,
				expirationminutes: "20",
				timeouturl: "about:blank",
				merchantlogo: "https://www.amsperu.org/images/logo.png",
				merchantname: "AMSP",
				formbuttoncolor: "#000000",
				action: action,
			});
			VisanetCheckout.open();
		},

		getRequestAction(data) {
			return `${process.env.VUE_APP_API}/orders/api/payment/action?transaction=${data}`;
		},

		getDaysFromRecord(dateRecordUser) {
			console.log(dateRecordUser);
			return 50;
		},
	},
};
</script>

<style></style>
