<template>
	<!-- Actions Desktop -->
	<div>
		<ul class="pa-0 unlist list-btn-actions">
			<!-- Button Cart -->
			<li>
				<v-badge
					color="secondary"
					:content="cartCount"
					overlap
					:offset-x="propOffsetX"
					:offset-y="propOffsetY"
					class="font-weight-bold"
				>
					<v-btn
						icon
						depressed
						title="Carrito de compra"
						:small="$_smAndDown"
						:to="{ name: 'ShoppingCartRoute' }"
					>
						<v-icon color="white">mdi-cart-outline</v-icon>
					</v-btn>
				</v-badge>
			</li>

			<!-- Sign in -->
			<li v-if="$_mdAndUp" class="flex-centered">
				<template v-if="isAuthenticated">
					<v-menu offset-y>
						<template v-slot:activator="{ on, attrs }">
							<v-btn color="primary" dark v-bind="attrs" v-on="on" class="ml-3">
								{{ user.first_name || "Error" }}
								<v-icon class="ml-2">mdi-chevron-down</v-icon>
							</v-btn>
						</template>
						<v-list>
							<v-list-item link :to="{ name: 'OrderRoute' }">
								<v-list-item-title>Mis ordenes</v-list-item-title>
							</v-list-item>
							<v-list-item link>
								<v-list-item-title @click="logOut" class="pointer"
									>Salir</v-list-item-title
								>
							</v-list-item>
						</v-list>
					</v-menu>
				</template>
				<v-btn
					v-else
					:to="{ name: 'LoginRoute' }"
					icon
					depressed
					title="Iniciar sesión"
					:small="$_smAndDown"
				>
					<v-icon color="white">mdi-account-outline</v-icon>
				</v-btn>
			</li>

			<!-- Bar Sidebar -->
			<li v-if="$_smAndDown">
				<v-btn icon depressed title="Iniciar sesión" :small="$_smAndDown">
					<v-icon color="white">mdi-menu</v-icon>
				</v-btn>
			</li>
		</ul>
	</div>
</template>

<script>
/**
 * @component BtnActions
 * @exclusivo
 * @parent HeaderApp
 * @description contiene los botones de pre-venta (Carrito de Compra, Iniciacion, Busqueda)
 */
import BreakPointsMixin from "@/mixins/breakpoints.mixin";

import { mapGetters, mapState } from "vuex";
import { notifySuccess } from "@/helpers/notify";

export default {
	name: "BtnActions",

	mixins: [BreakPointsMixin],

	data() {
		return {
			visibleLogin: false,
		};
	},

	computed: {
		propOffsetX() {
			return this.$vuetify.breakpoint.mdAndUp ? "20" : "10";
		},
		propOffsetY() {
			return this.$vuetify.breakpoint.mdAndUp ? "24" : "14";
		},
		...mapState({
			user: (state) => state.session.user,
		}),
		...mapGetters(["cartCount", "isAuthenticated"]),
	},

	methods: {
		onCloseLogin() {
			this.visibleLogin = false;
		},
		logOut() {
			this.$store.commit("CLOSE_SESSION");
			notifySuccess("Se cerró sesión correctamente");
			this.$router.push({ name: "HomeRoute" });
		},
	},
};
</script>

<style scoped lang="scss">
@import "~vuetify/src/styles/settings/_variables";

.list-btn-actions {
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 10px;

	@media #{map-get($display-breakpoints, 'md-and-up')} {
		grid-column-gap: 0;
	}
}
</style>
