<template>
	<v-app-bar app color="primary" dark elevate-on-scroll fixed>
		<v-container :class="{ 'pa-0': $vuetify.breakpoint.smAndDown }">
			<v-row no-gutters>
				<v-col cols="12">
					<div class="flex-center-between">
						<!-- Side Left: Logo -->

						<router-link :to="{ name: 'HomeRoute' }">
							<img src="@/assets/icons/logo.png" alt="AMS" width="130" />
						</router-link>

						<!-- Side Center: Navegation Desktop -->
						<div v-if="$vuetify.breakpoint.mdAndUp">
							<nav>
								<ul class="pa-0 unlist flex-center-between">
									<li>
										<v-menu
											open-on-hover
											offset-y
											allow-overflow
											content-class="submenu-nav"
										>
											<template v-slot:activator="{ on, attrs }">
												<v-btn
													link
													:to="{
														name: 'ListProductsRoute',
														query: { gender: 'M' },
													}"
													depressed
													color="primary"
													v-bind="attrs"
													v-on="on"
													height="64"
													class="btn-plain"
													tile
												>
													<span>Hombre</span>
													<v-icon> mdi-chevron-down </v-icon>
												</v-btn>
											</template>
											<v-card elevation="0" tile light class="pa-4">
												<v-container class="grey--text text--darken-4">
													<v-row>
														<v-col cols="4" class="pt-0">
															<v-row>
																<v-col cols="12" class="pb-0">
																	<h3
																		class="secondary--text font-weight-medium"
																	>
																		Accesorios
																	</h3>
																</v-col>
																<v-col cols="12" class="pb-0">
																	<router-link to="/" class="nav-item-link"
																		>Llaveros</router-link
																	>
																</v-col>
																<v-col cols="12" class="pb-0">
																	<router-link to="/" class="nav-item-link"
																		>Correas</router-link
																	>
																</v-col>
															</v-row>
														</v-col>
														<v-col cols="4" class="pt-0">
															<v-row>
																<v-col cols="12" class="pb-0">
																	<h3
																		class="secondary--text font-weight-medium"
																	>
																		Ropa de Verano
																	</h3>
																</v-col>
																<v-col cols="12" class="pb-0">
																	<router-link to="/" class="nav-item-link"
																		>Polos</router-link
																	>
																</v-col>
																<v-col cols="12" class="pb-0">
																	<router-link to="/" class="nav-item-link"
																		>Shorts</router-link
																	>
																</v-col>
																<v-col cols="12" class="pb-0">
																	<router-link to="/" class="nav-item-link"
																		>Bvd</router-link
																	>
																</v-col>
																<v-col cols="12" class="pb-0">
																	<router-link to="/" class="nav-item-link"
																		>Bermudas</router-link
																	>
																</v-col>
															</v-row>
														</v-col>
														<v-col cols="4" class="pt-0">
															<v-row>
																<v-col cols="12" class="pb-0">
																	<h3
																		class="secondary--text font-weight-medium"
																	>
																		Ropa de Invierno
																	</h3>
																</v-col>
																<v-col cols="12" class="pb-0">
																	<router-link to="/" class="nav-item-link"
																		>Casacas</router-link
																	>
																</v-col>
																<v-col cols="12" class="pb-0">
																	<router-link to="/" class="nav-item-link"
																		>Pantalones</router-link
																	>
																</v-col>
																<v-col cols="12" class="pb-0">
																	<router-link to="/" class="nav-item-link"
																		>Chaquetas</router-link
																	>
																</v-col>
															</v-row>
														</v-col>
													</v-row>
												</v-container>
											</v-card>
										</v-menu>
									</li>
									<li>
										<v-menu
											open-on-hover
											offset-y
											allow-overflow
											content-class="submenu-nav"
										>
											<template v-slot:activator="{ on, attrs }">
												<v-btn
													link
													:to="{
														name: 'ListProductsRoute',
														query: { gender: 'F' },
													}"
													depressed
													color="primary"
													v-bind="attrs"
													v-on="on"
													height="64"
													class="btn-plain"
													tile
												>
													<span>Mujer</span>
													<v-icon> mdi-chevron-down </v-icon>
												</v-btn>
											</template>

											<v-card elevation="0" tile light class="pa-4">
												<v-container class="grey--text text--darken-4">
													<v-row>
														<v-col cols="4" class="pt-0">
															<v-row>
																<v-col cols="12" class="pb-0">
																	<h3
																		class="secondary--text font-weight-medium"
																	>
																		Accesorios
																	</h3>
																</v-col>
																<v-col cols="12" class="pb-0">
																	<router-link to="/" class="nav-item-link"
																		>Anillo</router-link
																	>
																</v-col>
																<v-col cols="12" class="pb-0">
																	<router-link to="/" class="nav-item-link"
																		>Aretes</router-link
																	>
																</v-col>
																<v-col cols="12" class="pb-0">
																	<router-link to="/" class="nav-item-link"
																		>Collares</router-link
																	>
																</v-col>
																<v-col cols="12" class="pb-0">
																	<router-link to="/" class="nav-item-link"
																		>Pulseras</router-link
																	>
																</v-col>
															</v-row>
														</v-col>
														<v-col cols="4" class="pt-0">
															<v-row>
																<v-col cols="12" class="pb-0">
																	<h3
																		class="secondary--text font-weight-medium"
																	>
																		Ropa de Verano
																	</h3>
																</v-col>
																<v-col cols="12" class="pb-0">
																	<router-link to="/" class="nav-item-link"
																		>Blusas</router-link
																	>
																</v-col>
																<v-col cols="12" class="pb-0">
																	<router-link to="/" class="nav-item-link"
																		>Polos</router-link
																	>
																</v-col>
															</v-row>
														</v-col>
														<v-col cols="4" class="pt-0">
															<v-row>
																<v-col cols="12" class="pb-0">
																	<h3
																		class="secondary--text font-weight-medium"
																	>
																		Ropa de Invierno
																	</h3>
																</v-col>
																<v-col cols="12" class="pb-0">
																	<router-link to="/" class="nav-item-link"
																		>Capas</router-link
																	>
																</v-col>
																<v-col cols="12" class="pb-0">
																	<router-link to="/" class="nav-item-link"
																		>Ponchos</router-link
																	>
																</v-col>
																<v-col cols="12" class="pb-0">
																	<router-link to="/" class="nav-item-link"
																		>Sweater</router-link
																	>
																</v-col>
															</v-row>
														</v-col>
													</v-row>
												</v-container>
											</v-card>
										</v-menu>
									</li>
									<li>
										<v-menu
											open-on-hover
											offset-y
											allow-overflow
											content-class="submenu-nav"
										>
											<template v-slot:activator="{ on, attrs }">
												<v-btn
													link
													:to="{
														name: 'ListProductsRoute',
														query: { category: 4 },
													}"
													depressed
													color="primary"
													v-bind="attrs"
													v-on="on"
													height="64"
													class="btn-plain"
													tile
												>
													<span>Hogar</span>
													<v-icon> mdi-chevron-down </v-icon>
												</v-btn>
											</template>

											<v-card elevation="0" tile light class="pa-4">
												<v-container class="grey--text text--darken-4">
													<v-row>
														<v-col cols="4" class="pt-0">
															<v-row>
																<v-col cols="12" class="pb-0">
																	<h3
																		class="secondary--text font-weight-medium"
																	>
																		Accesorios
																	</h3>
																</v-col>
																<v-col cols="12" class="pb-0">
																	<router-link to="/" class="nav-item-link"
																		>Tazas</router-link
																	>
																</v-col>
																<v-col cols="12" class="pb-0">
																	<router-link to="/" class="nav-item-link"
																		>Vasos</router-link
																	>
																</v-col>
																<v-col cols="12" class="pb-0">
																	<router-link to="/" class="nav-item-link"
																		>Jarras</router-link
																	>
																</v-col>
																<v-col cols="12" class="pb-0">
																	<router-link to="/" class="nav-item-link"
																		>Platos</router-link
																	>
																</v-col>
															</v-row>
														</v-col>
													</v-row>
												</v-container>
											</v-card>
										</v-menu>
									</li>

									<li>
										<v-btn
											link
											:to="{ name: 'BlogRoute' }"
											height="64"
											depressed
											color="primary"
											class="btn-plain"
											title="Socios"
										>
											<span>Blog</span>
										</v-btn>
									</li>
								</ul>
							</nav>
						</div>

						<!-- Side Right:Desktop - Mobile -->
						<BtnActions />
						<!-- Side Right: Buttons Actions -->
					</div>
				</v-col>
			</v-row>
		</v-container>
	</v-app-bar>
</template>

<script>
import BtnActions from "./BtnActions.vue";

export default {
	name: "HeaderApp",

	components: {
		BtnActions,
	},

	data() {
		return {
			currentHover: null,
			routes: [
				{
					id: 100,
					routerName: "ListProductsRoute",
					routerText: "Hombres",
					withSubMenu: true,
				},
				{
					id: 200,
					routerName: "ListProductsRoute",
					routerText: "Mujeres",
					withSubMenu: true,
				},
				{
					id: 300,
					routerName: "ListProductsRoute",
					routerText: "Hogar",
					withSubMenu: true,
				},
				{
					id: 400,
					routerName: "BlogRoute",
					routerText: "Blog",
				},
				{
					id: 500,
					routerName: "ContactRoute",
					routerText: "Contacto",
				},
			],
		};
	},

	computed: {
		elementHeader() {
			return document.body;
		},
	},
};
</script>

<style scoped lang="scss">
@import "@/styles/mixins/_transition.mixin.scss";
.btn-plain::before {
	opacity: 0 !important;
}
.submenu-nav {
	top: 64px !important;
	left: 50% !important;
	transform: translateX(-50%) !important;
	width: 90%;
	max-width: 1024px !important;
}

.nav-link {
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	text-transform: capitalize;
	transition: color 400ms;
	display: inline-block;
	letter-spacing: 0.05rem;
	@include transition(all 300ms);
	&:hover {
		color: var(--color-secondary);
		@include transition(all 300ms);
		i {
			color: var(--color-secondary);
		}
	}
}

.submenu-products {
	position: absolute;
}

.nav-item-link {
	text-decoration: none;
	&:hover {
		color: var(--color-secondary);
	}
}
</style>
