<template>
	<div id="terminus-conditions" class="py-10">
		<v-container>
			<v-row>
				<v-col cols="12">
					<title-page class="text-center">
						Terminos y Condiciones
					</title-page>
				</v-col>
			</v-row>
		</v-container>
	</div>
</template>

<script>
export default {
	name: "TermsAndConditionsPage",
};
</script>

<style></style>
