<template>
	<div id="page-detail-product" class="py-10">
		<v-container>
			<v-row v-if="loading" justify="center">
				<v-col cols="auto">
					<v-progress-circular
						indeterminate
						color="primary"
					></v-progress-circular>
				</v-col>
			</v-row>
			<template v-else>
				<v-row v-if="product">
					<v-col cols="12">
						<v-breadcrumbs :items="navigationItems" class="pa-0">
							<template v-slot:divider>
								<v-icon>mdi-chevron-right</v-icon>
							</template>
						</v-breadcrumbs>
					</v-col>
					<v-col md="6">
						<img :src="cmpPicture" alt="image" class="product-image" />
					</v-col>
					<v-col md="6">
						<v-row no-gutters>
							<v-col cols="12">
								<title-page>
									{{ product.name }}
								</title-page>
							</v-col>
							<v-col cols="12" class="py-0">
								<h4 class="text-h6 text-black">Stock</h4>
								<p class="text-darken font-weight-regular">
									{{ product.stock }}
								</p>
							</v-col>
							<v-col cols="12" class="py-0">
								<h4 class="text-h6 text-black">Categoría</h4>
								<p class="text-darken font-weight-regular">
									{{ product.category }}
								</p>
							</v-col>
							<v-col cols="12" class="py-0">
								<h4 class="text-h6 text-black">Precio</h4>
								<p class="font-weight-regular  text-darken">{{ product.price | currency }}</p>
							</v-col>

							<v-col cols="12" class="mb-3 py-0">
								<h4 class="text-h6 text-black">Descripción</h4>
								<p class="text-darken font-weight-regular">
									{{ product.description }}
								</p>
							</v-col>
							<v-col cols="12">
								<QuantityControl
									:quantity="product.quantity"
									:sku="product.sku"
								/>
								<v-btn
									depressed
									color="primary"
									large
									class="btn-add-cart ml-4"
									:disabled="loadingAdd"
									:loading="loadingAdd"
									@click="add"
								>
									Agregar a carrito
								</v-btn>
							</v-col>
						</v-row>
					</v-col>
				</v-row>
				<v-row>
					<v-col cols="12">
						<v-tabs v-model="currenTab">
							<v-tab>Información adicional</v-tab>
						</v-tabs>
					</v-col>
					<v-col cols="12">
						<v-tabs-items v-model="currenTab">
							<v-tab-item>
								<ul class="unlist pa-0">
									<li class="mb-3" v-if="product && product.material">
										<h3 class="secondary--text font-weight-medium">Material</h3>
										<p>{{ product.material }}</p>
									</li>
								</ul>
							</v-tab-item>
						</v-tabs-items>
					</v-col>
				</v-row>
			</template>
		</v-container>
	</div>
</template>

<script>
import ProductService from "@/services/Product.service";

import OrderService from "@/services/Order.service";

import { mapState } from "vuex";

import { notifySuccess, notifyError } from "@/helpers/notify";
import TitlePage from "../../components/globals/TitlePage.vue";
import QuantityControl from "@/components/QuantityControl";

export default {
	name: "DetailProducts",

	components: { TitlePage, QuantityControl },

	data() {
		return {
			navigationItems: [
				{
					text: "Catálogo",
					disabled: false,
					exact: true,
					to: {
						name: "ListProductsRoute",
					},
				},
				{
					text: "",
					disabled: true,
				},
			],
			sizes: ["XL", "L", "M", "S"],
			currenTab: 0,
			loading: false,
			loadingAdd: false,
			product: null,
		};
	},

	computed: {
		cmpPicture() {
			return this.product.image_urls;
		},
		...mapState(["orderId"]),
	},

	mounted() {
		const { productId } = this.$route.params;

		this.doGetDetailProduct(productId);

		console.log("asdasd");
	},

	methods: {
		async doGetDetailProduct(skuProduct) {
			this.loading = true;
			try {
				const { data: DetailProductResponse } = await ProductService.GetProduct(
					skuProduct
				);
				this.product = DetailProductResponse;

				// update breadcrumbs
				this.navigationItems[1].text = this.product.name;
				console.log(this.product);
			} catch (error) {
				alert(error);
			} finally {
				this.loading = false;
			}
		},

		async add() {
			this.loadingAdd = true;
			try {
				const { data: ResponseAddProduct } = await OrderService.AddProduct(
					this.product.sku,
					this.orderId
				);
				this.update_cart(ResponseAddProduct);
			} catch (error) {
				notifyError("Ooops! ha ocurrido un error, intentelo nuevamente!");
			} finally {
				this.loadingAdd = false;
			}
		},

		update_cart(response) {
			const { items, total, subtotal, total_igv } = response;
			this.$store.commit("UPDATE_CART", {
				products: items,
				total,
				subtotal,
				total_igv,
			});
			notifySuccess("Producto Agregado al carrito!");
		},
	},
};
</script>
<style scoped lang="scss">
.product-image {
	height: 540px;
	display: block;
	margin: 0 auto;
	max-width: 100%;
}
.number {
	width: 48px;
	max-width: 48px;
	margin: 0 0.7rem !important;
}
</style>
