<template>
  <div class="page-products" id="page-products">
    <v-container class="py-10">
      <v-row>
        <v-col cols="12">
          <h2 class="text-center text-h3 mb-5">Catálogo de Productos</h2>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="3" class="pb-0">
          <v-text-field
            v-model="search.search"
            label="Buscar..."
            outlined
          ></v-text-field>
        </v-col>
        <v-col cols="3" class="pb-0">
          <v-select
            v-model="search.category"
            :items="categories.items"
            :loading="categories.loading"
            item-text="name"
            item-value="id"
            outlined
            :menu-props="{
              offsetY: true,
            }"
            label="Categories"
          ></v-select>
        </v-col>
        <v-col cols="3" class="pb-0">
          <v-select
            v-model="search.brand"
            :items="brands.items"
            :loading="brands.loading"
            item-text="name"
            item-value="id"
            outlined
            :menu-props="{
              offsetY: true,
            }"
            label="Marcas"
          ></v-select>
        </v-col>
        <v-col cols="3" class="pb-0">
          <v-select
            v-model="search.gender"
            :items="genders"
            item-text="name"
            item-value="id"
            outlined
            :menu-props="{
              offsetY: true,
            }"
            label="Género"
          ></v-select>
        </v-col>
        <v-col cols="12" class="py-0 mb-8">
          <v-row no-gutters justify="space-between" align="center">
            <v-col cols="auto" class="body-1">
              <span>Productos:</span> {{ products.length }} Productos
            </v-col>
            <v-col cols="auto">
              <v-btn
                large
                depressed
                color="secondary"
                outlined
                class="mr-3"
                @click="cleanSearch"
              >
                Limpiar
              </v-btn>
              <v-btn
                color="primary"
                depressed
                width="180"
                large
                @click="doSearchProducts"
                >Buscar</v-btn
              >
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="12">
          <v-row v-if="loading" justify="center">
            <v-col cols="auto">
              <v-progress-circular
                indeterminate
                color="primary"
              ></v-progress-circular>
            </v-col>
          </v-row>
          <v-row v-else>
            <template v-if="products.length">
              <template v-for="product in products">
                <v-col cols="12" sm="6" md="4" :key="product.id">
                  <card-product :product="product" />
                </v-col>
              </template>
              <v-col cols="12" class="mt-5">
                <v-pagination
                  v-model="pagination.page"
                  circle
                  color="secondary"
                  :length="pagination.totalItems"
                  @input="onNextPage"
                ></v-pagination>
              </v-col>
            </template>
            <template v-else>
              <v-col cols="12">
                <v-card elevation="0" color="#eee">
                  <v-card-text class="text-center text-h6 primary-text py-8">
                    No se encontraron productos
                  </v-card-text>
                </v-card>
              </v-col>
            </template>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import CardProduct from "@/components/CardProduct";
import ProductService from "@/services/Product.service";

import { removePropsBlank, toQueryParams } from "@/utils/commons";

export default {
  name: "ListProducts",

  components: {
    CardProduct,
  },

  data() {
    return {
      products: [],
      loading: false,
      itemsCollection: ["Hombre", "Mujer", "Hogar"],
      search: {
        category: null,
        brand: null,
        gender: null,
        search: null,
        page_size: 9,
      },
      pagination: {
        totalItems: 0,
        page: 1,
      },
      categories: {
        loading: false,
        items: [],
      },
      brands: {
        loading: false,
        items: [],
      },
      genders: [
        {
          name: "Hombre",
          id: "M",
        },
        {
          name: "Mujer",
          id: "F",
        },
      ],
    };
  },

  mounted() {
    const queryParams = this.$route.query;
    this.search = { ...this.search, ...queryParams };

    this.doSearchProducts();
    this.doListCategories();
    this.doListBrand();
  },

  methods: {
    doSearchProducts() {
      this.search.page = 1;
      this.doMakeRequestSearchProducts();
    },

    onNextPage(page) {
      this.search.page = page;

      this.doMakeRequestSearchProducts();
    },

    doMakeRequestSearchProducts() {
      const where = removePropsBlank(this.search);

      const queryParams = toQueryParams(where);

      this.doListProducts(queryParams);
    },

    cleanSearch() {
      this.search.search = null;
      this.search.category = null;
      this.search.brand = null;
      this.search.gender = null;
      this.search.page = null;

      this.doSearchProducts();
    },

    async doListProducts(queryParams) {
      this.loading = true;
      this.products = [];
      try {
        const { data: ListProductsResponse } =
          await ProductService.ListProducts(queryParams);
        this.products = ListProductsResponse.results;
        this.pagination.totalItems = Math.ceil(
          ListProductsResponse.count / this.search.page_size
        );
      } catch (error) {
        console.log(error);
      } finally {
        this.loading = false;
      }
    },

    async doListCategories() {
      this.categories.loading = true;
      this.categories.items = [];
      try {
        const { data: ListCategoriesResponse } =
          await ProductService.ListCategories();
        this.categories.items = ListCategoriesResponse.results;
      } catch (error) {
        console.log(error);
      } finally {
        this.categories.loading = false;
      }
    },

    async doListBrand() {
      this.brands.loading = true;
      this.brands.items = [];
      try {
        const { data: ListBrandsResponse } = await ProductService.ListBrands();
        this.brands.items = ListBrandsResponse.results;
      } catch (error) {
        console.log(error);
      } finally {
        this.brands.loading = false;
      }
    },
  },
};
</script>

