<template>
	<div id="page-delivery">
		<div class="py-10">
			<v-container>
				<v-card width="500" class="mx-auto" elevation="0">
					<v-row>
						<v-col cols="12">
							<h3 class="text-center text-h3">Entrega de Producto</h3>
						</v-col>
						<v-col cols="">
							<v-divider></v-divider>
						</v-col>
						<v-col cols="12" class="pb-0 mb-3">
							<h3 class="mb-3">Tipo de envio</h3>
							<v-select
								:items="['Despacho a Domicilio', 'Retiro en Tienda']"
								outlined
								hide-details
								:menu-props="{
									offsetY: true,
								}"
							></v-select>
						</v-col>
						<v-col cols="12" class="pt-0 mb-3">
							<h3 class="mb-3">Teléfono de referencia</h3>
							<v-text-field outlined hide-details></v-text-field>
						</v-col>
						<v-col cols="12" class="py-0 mb-3">
							<h3 class="mb-3">Dirección a enviar</h3>
							<v-textarea outlined hide-details></v-textarea>
						</v-col>
						<v-col cols="12" class="py-0 mb-3">
							<h3 class="mb-3">Referencia</h3>
							<v-text-field outlined hide-details></v-text-field>
						</v-col>

						<v-col cols="12" class="py-0 text-right">
							<v-btn
								color="primary"
								large
								width="200"
								depressed
								:disabled="loading"
								:loading="loading"
								@click="makePayment"
								>Ir a Pago</v-btn
							>
						</v-col>
					</v-row>
				</v-card>
			</v-container>
		</div>
	</div>
</template>

<script>
import OrderService from "@/services/Order.service";
import { mapState } from "vuex";
import { notifySuccess } from "@/helpers/notify";

export default {
	name: "DeliveryPage",

	data() {
		return {
			loading: false,
		};
	},

	computed: {
		...mapState(["orderId"]),
	},

	methods: {
		async makePayment() {
			this.loading = true;
			try {
				const { data: response } = await OrderService.PaymentOrder(
					this.orderId
				);
				console.log(response);
				notifySuccess("Pedido creado!");
				this.$store.commit("UPDATE_CART", {
					products: [],
					total: 0,
					subtotal: 0,
					total_igv: 0,
				});
				this.$store.commit("SET_ORDER_ID", null);
				this.$store.commit("SET_PURCHASE_NUMBER", null);
				this.$router.push({ name: "CheckoutRoute" });
			} catch (error) {
				console.log(error);
			} finally {
				this.loading = false;
			}
		},
	},
};
</script>
