<template>
  <div class="pt-8">
    <v-container class="pa-0 container--full" fluid>
      <v-row>
        <v-col cols="12" class="py-0 mb-5">
          <h2 class="text-center font-weight-medium text-h4 mb-3">
            Siguenos en Instagram
          </h2>
        </v-col>
        <v-col cols="12" class="py-0">
          <v-row no-gutters>
            <v-col
              cols="6"
              md="4"
              lg="3"
              class="py-0"
              v-for="(item, index) in items"
              :key="index"
            >
              <a
                class="item-instagram"
                :href="item.post"
                target="blank"
              >
                <div class="item-instagram__overlay">
                  <v-btn icon class="item-instagram__btn" color="#fff">
                    <v-icon size="56">mdi-instagram</v-icon>
                  </v-btn>
                </div>
                <img class="w-100 h-100" :src="item.image" alt="instagram" />
              </a>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
// import { Splide, SplideSlide } from "@splidejs/vue-splide";

export default {
  name: "AreaInstagram",

  components: {
    // Splide,
    // SplideSlide,
  },

  data() {
    return {
      images: [1, 2, 3],
      model: [0, 1, 2],
      splideOptions: {
        perPage: 4,
        type: "loop",
        pagination: false,
        height: 480,
        autoplay: true,
        cover: true,
        speed: 2000,
        interval: 4000,
        easing: "linear",
      },
      items: [
        {
          image: require("@/assets/instagram/insta01.jpg"),
          post: "https://www.instagram.com/p/CTDr4JloFc8/",
        },
        {
          image: require("@/assets/instagram/insta02.jpg"),
          post: "https://www.instagram.com/p/CTx3NaMrDGo/",
        },
        {
          image: require("@/assets/instagram/insta03.jpg"),
          post: "https://www.instagram.com/p/CT0VZ9FL_D6/",
        },
        {
          image: require("@/assets/instagram/insta04.jpg"),
          post: "https://www.instagram.com/p/CTp2sGmJtay/",
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
.item-instagram {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  overflow: hidden;

  .item-instagram__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.25);
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .item-instagram__overlay {
    opacity: 0;
    visibility: hidden;
  }

  img {
    max-width: 100%;
  }

  &:hover {
    .item-instagram__overlay {
      background-color: rgba(0, 0, 0, 0.65);
      transition: all 0.4s ease;
    }
    .item-instagram__overlay {
      opacity: 1;
      visibility: visible;
    }
  }
}
</style>