<template>
  <div class="py-8" id="hot-products">
    <v-container>
      <div class="v-row">
        <v-col cols="12">
          <h2 class="text-center font-weight-medium text-h4">Productos</h2>
        </v-col>
      </div>
      <v-row>
        <v-col cols="12">
          <v-tabs centered>
            <v-tab @click="doListNewProducts('news')">Nuevos Productos</v-tab>
            <v-tab @click="doListNewProducts('top')">Lo más vendido</v-tab>
            <v-tab @click="doListNewProducts('discount')">En Descuento</v-tab>
          </v-tabs>
        </v-col>
        <v-col cols="12" class="content-products">
          <v-row v-if="loading" justify="center">
            <v-col cols="auto">
              <v-progress-circular
                indeterminate
                color="primary"
              ></v-progress-circular>
            </v-col>
          </v-row>
          <v-row v-else>
            <v-col
              cols="12"
              sm="6"
              md="4"
              v-for="product in items"
              :key="product.id"
            >
              <CardProduct :product="product"></CardProduct>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import CardProduct from "@/components/CardProduct";
import ProductService from "@/services/Product.service";

import { toQueryParams } from "@/utils/commons";

export default {
  name: "HotProducts",

  components: {
    CardProduct,
  },

  data() {
    return {
      items: [],
      topProducts: [],
      discountProducts: [],
      newProducts: [],
      loading: false,
    };
  },

  mounted() {
    this.doListNewProducts("news");
  },

  methods: {
    async doListNewProducts(type) {
      this.loading = true;
      try {
        const queryParams = toQueryParams({ [type]: true, page_size: 6 });

        const { data: NewProductsResponse } = await ProductService.ListProducts(
          queryParams
        );

        this.items = NewProductsResponse.results;
      } catch (error) {
        console.log(error);
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>
<style>
.content-products {
  min-height: 260px;
}
</style>