@font-face {
    font-family: HelveticaNeue;
    src: url('./../assets/fonts/HeleveticaNeue/HelveticaNeueThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: HelveticaNeue;
    src: url('./../assets/fonts/HeleveticaNeue/HelveticaNeueLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: HelveticaNeue;
    src: url('./../assets/fonts/HeleveticaNeue/HelveticaNeueRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: HelveticaNeue;
    src: url('./../assets/fonts/HeleveticaNeue/HelveticaNeueMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: HelveticaNeue;
    src: url('./../assets/fonts/HeleveticaNeue/HelveticaNeueBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: HelveticaNeue;
    src: url('./../assets/fonts/HeleveticaNeue/HelveticaNeueBlackCondensed.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

// POPPINS

@font-face {
    font-family: Poppins;
    src: url('./../assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

// cursive medium