<template>
  <div id="page-delivery">
    <div class="py-10">
      <v-container>
        <v-card class="mx-auto" elevation="0">
          <v-row>
            <v-col cols="12">
              <h3 class="text-center text-h3">Pagar Producto</h3>
            </v-col>
            <v-col cols="12">
              <v-divider></v-divider>
            </v-col>
            <v-col cols="12">
              <v-card class="pa-6 text-center text-h6" elevation="0" color="#eee"> Servicios de Métodos de Pago </v-card>
            </v-col>
          </v-row>
        </v-card>
      </v-container>
    </div>
  </div>
</template>

<script>
export default {
  name: "PaymentPage",

  data() {
    return {};
  },
};
</script>