<template>
	<div id="order-finish" class="py-10">
		<v-container v-if="isAuthenticated">
			<v-row>
				<v-col cols="12">
					<v-breadcrumbs :items="navigationItems" class="pa-0">
						<template v-slot:divider>
							<v-icon>mdi-chevron-right</v-icon>
						</template>
					</v-breadcrumbs>
				</v-col>
				<v-col cols="12" class="py-0">
					<v-alert
						:type="order && transactionAuthorized ? 'success' : 'error'"
						class="ma-0 font-weight-bold text-uppercase"
					>
						Transacción {{ transactionAuthorized ? "Aprobada" : "Fallida" }}
					</v-alert>
				</v-col>
				<v-col cols="12" v-if="order">
					<title-page
						>Resultado de Pedido
						<span v-if="order">#{{ order.purchaseNumber }}</span></title-page
					>
				</v-col>
			</v-row>
			<v-row v-if="status === 200">
				<v-col style="max-width: 360px">
					<v-card outlined>
						<v-card-title class="text-darken">
							Resumen Total
						</v-card-title>
						<v-divider></v-divider>
						<v-card-text>
							<ul class="unlist pa-0">
								<li>
									<div class="font-weight-medium text-darken">
										Nombre y Apellidos
									</div>
									<p>{{ user.first_name + " " + user.last_name }}</p>
								</li>
								<li>
									<div class="font-weight-medium text-darken">
										Número de Tarjeta
									</div>
									<p>{{ creditCard.CARD }} ({{ creditCard.BRAND }})</p>
								</li>

								<li>
									<div class="font-weight-medium text-darken">
										Fecha y Hora de Pedido
									</div>
									<p>{{ order.transactionDate }}</p>
								</li>
								<li>
									<div class="font-weight-medium text-darken">
										Importe
									</div>
									<p v-if="currency === 'PEN'">{{ order.amount | currency }}</p>
									<p v-else>{{ order.amount }}</p>
								</li>

								<li>
									<div class="font-weight-medium text-darken">
										Moneda
									</div>
									<p>{{ currency }}</p>
								</li>
							</ul>
						</v-card-text>
					</v-card>
				</v-col>
				<v-col>
					<v-card outlined>
						<v-data-table
							:headers="headers"
							:items="products"
							:item-class="() => 'item-row-product'"
							hide-default-footer
							no-data-text="No se encontraron datos"
							:class="['table-cart']"
						>
							<template v-slot:[`item.product`]="{ item }">
								<div class="d-flex align-center">
									<v-img
										:src="item.item_image"
										:alt="item.item_name"
										max-width="64"
										class="rounded mr-4"
									></v-img>
									<div>
										<h5 class="subtitle-1 font-weight-medium text-darken">
											<router-link
												:to="{
													name: 'DetailProductRoute',
													params: { productId: item.item_sku },
												}"
												class="link"
											>
												{{ item.item_name }}</router-link
											>
										</h5>
										<h6 class="body-2 text-silver font-weight-medium">
											Sku: {{ item.item_sku }}
										</h6>
									</div>
								</div>
							</template>
							<template v-slot:[`item.price`]="{ item }">
								<span class="body-2 font-weight-medium text-darken">
									{{ item.item_price | currency }}</span
								>
							</template>
							<template v-slot:[`item.quantity`]="{ item }">
								{{ item.quantity }}
							</template>
							<template v-slot:[`item.subtotal`]="{ item }">
								<span class="body-2 font-weight-medium text-darken">
									{{ item.subtotal | currency }}</span
								>
							</template>
						</v-data-table>
					</v-card>

					<div class="mt-5 text-right pr-8">
						<ul class="unlist pa-0">
							<li>
								<span
									class="text-left d-inline-block font-weight-medium"
									style="min-width:160px"
									>Subtotal:</span
								>
								<span class="font-weight-medium">{{
									subtotal | currency
								}}</span>
							</li>
							<li>
								<span
									class="text-left d-inline-block font-weight-medium"
									style="min-width:160px"
									>Igv:</span
								>
								<span class="font-weight-medium">{{
									total_igv | currency
								}}</span>
							</li>
							<li>
								<span
									class="text-left d-inline-block font-weight-medium"
									style="min-width:160px"
									>Total:</span
								>
								<span class="font-weight-medium">{{
									order.amount | currency
								}}</span>
							</li>
						</ul>
						<div></div>
					</div>
				</v-col>
			</v-row>
			<v-row v-else>
				<v-col cols="12" v-if="error">
					<v-card outlined class="w-full">
						<v-card-title class="error--text font-weight-bold">
							Número de pedido: #{{ error.purchaseNumber }}
						</v-card-title>
						<v-divider></v-divider>
						<v-card-text
							class="error--text darken-1 subtitle-2 font-weight-medium"
						>
							<ul class="unlist pa-0">
								<li>
									<div class="font-weight-medium text-darken">
										Fecha y hora del pedido
									</div>
									<p> {{ new Date(error.dateTime).toLocaleString() }} </p>
								</li>
								<li>
									<div class="font-weight-medium text-darken">
										Descripción de la denegación
									</div>
									<p>{{ error.data.ACTION_DESCRIPTION }}</p>
								</li>
							</ul>
						</v-card-text>
					</v-card>
				</v-col>
			</v-row>
		</v-container>
	</div>
</template>

<script>
import { mapGetters, mapState } from "vuex";
import { verify } from "@/helpers/crypto";

export default {
	name: "OrderFinish",

	data: () => ({
		headers: [
			{
				text: "N°",
				align: "center",
				sortable: false,
				value: "index",
				width: 48,
			},
			{
				text: "Producto",
				align: "start",
				sortable: false,
				value: "product",
			},
			{
				text: "Precio por unidad",
				align: "center",
				sortable: false,
				value: "price",
				width: 140,
			},
			{
				text: "Cantidad",
				align: "center",
				sortable: false,
				value: "quantity",
				width: 150,
			},
			{
				text: "Subtotal",
				align: "center",
				sortable: false,
				value: "subtotal",
				width: 160,
			},
		],
		navigationItems: [
			{
				text: "Catálogo",
				disabled: false,
				exact: true,
				to: {
					name: "ListProductsRoute",
				},
			},
			{
				text: "Resultado de Pedido",
				disabled: true,
			},
		],
		products: [],
		order: null,
		creditCard: null,
		currency: null,
		status: null,
		error: null,
		subtotal: 0,
		total_igv: 0,
		transactionAuthorized: false,
	}),

	computed: {
		...mapGetters(["isAuthenticated"]),
		...mapState(["orderId"]),
		...mapState({
			user: (state) => state.session.user,
		}),
	},

	mounted() {
		const { response } = this.$route.query;
		if (response) {
			const { status, response: data, order: cart } = verify(response);
			const dataObject = JSON.parse(data);

			if (status === 200) {
				this.doSuccess(dataObject, cart);
				this.transactionAuthorized = true;
			} else {
				this.error = dataObject;
				this.transactionAuthorized = false;
                this.error.purchaseNumber = cart.purchase_number;
                this.error.dateTime = cart.created_at;
			}

			this.status = status;

			this.$store.commit("SET_ORDER_ID", null);
			this.$store.commit("SET_PURCHASE_NUMBER", null);
			this.$store.commit("CLEAN_CART", []);
		}
	},

	methods: {
		doSuccess(data, cart) {
			this.order = data.order;
			this.creditCard = data.dataMap;
			this.products = cart.items;
			this.currency = this.order.currency;
			this.subtotal = cart.subtotal;
			this.total_igv = cart.total_igv;
		},
	},
};
</script>
