.justify-content-center {
    @include justify-content();
}

.flex-center-between {
    @include content-between-center();
}

.flex-centered {
    @include content-center-center();
}

.flex-center-start {
    @include d-flex;
    @include justify-content(flex-start);
    @include align-items;
}

.align-items-center {
    @include align-items;
}

.align-items-baseline {
    @include align-items(baseline);
}