.overlay {
    position: absolute;
    background-color: rgba($color: #000000, $alpha: 0.45);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.overlay__content--row-center {
    display: flex;
    height: 100%;
    align-items: center;
}