<template>
	<div class="py-6">
		<v-container fluid>
			<v-card width="480" class="mx-auto" elevation="0">
				<v-form ref="formRegister" autocomplete="off">
					<v-row>
						<v-col cols="12">
							<h2 class="text-center">Registro</h2>
						</v-col>
						<v-col cols="12" class="py-0 mb-2">
							<v-text-field
								v-model="form.firstName"
								label="Nombres"
								outlined
								:rules="[rulesRequired('Nombres')]"
							></v-text-field>
						</v-col>
						<v-col cols="12" class="py-0 mb-2">
							<v-text-field
								v-model="form.lastName"
								label="Apellidos"
								outlined
								:rules="[rulesRequired('Apellidos')]"
							></v-text-field>
						</v-col>
						<v-col cols="12" class="py-0 mb-2">
							<v-text-field
								v-model="form.email"
								label="Correo Electronico"
								outlined
								:rules="[rulesRequired('Email'), rulesEmail]"
							></v-text-field>
						</v-col>
						<v-col cols="12" class="py-0 mb-2">
							<v-text-field
								v-model="form.password"
								label="Contraseña"
								type="password"
								outlined
								:rules="[rulesRequired('Contraseña')]"
								autocomplete="off"
							></v-text-field>
						</v-col>
						<v-col cols="12" class="py-0">
							<v-btn
								depressed
								height="60"
								block
								color="primary"
								@click="onSubmit"
								:disabled="loading"
								:loading="loading"
								>Aceptar</v-btn
							>
						</v-col>
					</v-row>
				</v-form>
			</v-card>
		</v-container>
	</div>
</template>

<script>
import { rules } from "@/utils/rules";
import AuthService from "@/services/Auth.service";
import { setTokenToHttp } from "@/helpers/cache";
import { notifySuccess, notifyError } from "@/helpers/notify";

export default {
	name: "RegisterPage",

	data() {
		return {
			form: {
				firstName: null,
				lastName: null,
				email: null,
				password: null,
			},
			rulesRequired: rules.requiredHard,
			rulesEmail: rules.email2,
			loading: false,
		};
	},

	methods: {
		onSubmit() {
			const valid = this.$refs.formRegister.validate();
			if (valid) {
				const { firstName, lastName, email, password } = this.form;
				const payload = {
					email,
					password,
					first_name: firstName,
					last_name: lastName,
					gender: "HOMBRE", // TODO: añadirlo como campo a formulario
					age: 20, // TODO: añadirlo como campo a formulario
					phone: "123456789", // TODO: añadirlo como campo a formulario
				};
				this.doRegisterUser(payload);
			}
		},

		async doRegisterUser(payload) {
			this.loading = true;
			try {
				const RegisterUserResponse = await AuthService.RegisterUser(payload);
				console.log(RegisterUserResponse);
				notifySuccess("Se registró correctamente");
				this.$router.push({ name: "LoginRoute" });
			} catch (error) {
				alert("Oops, ocurrio uin error");
			} finally {
				this.loading = false;
			}
		},
		async doLoginUser(payload) {
			try {
				const { data: LoginUserResponse } = await AuthService.LoginUser(
					payload
				);
				const { token } = LoginUserResponse;

				// update vuex user
				const user_data = {
					first_name: "jerson victor",
					last_name: "estacio garcia",
					email: payload.email,
				};
				this.$store.commit("UPDATE_USER", user_data);

				// config axios
				setTokenToHttp();

				window.localStorage.setItem("token", token);

				// añadir el token en el axios (header) Token {token}
				notifySuccess("Se registró correctamente");
				// redirect to Products
				this.$router.push({ name: "ListProductsRoute" });
			} catch (error) {
				notifyError("Oops, ocurrio uin error, intentelo nuevamente!");
			} finally {
				this.loading = false;
			}
		},
	},
};
</script>
