<template>
  <div id="page-blog" class="py-10">
    <v-container>
      <v-row>
        <v-col cols="12">
          <h2 class="text-center text-h3 mb-5">Blog</h2>
        </v-col>
      </v-row>
      <v-row v-if="loading" justify="center">
        <v-col cols="auto">
          <v-progress-circular
            indeterminate
            color="primary"
          ></v-progress-circular>
        </v-col>
      </v-row>
      <v-row v-else>
        <template v-for="company in companies">
          <v-col cols="12" md="4" :key="company.id">
            <card-blog :company="company" />
          </v-col>
        </template>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import CardBlog from "@/components/CardBlog";

import WebsiteService from "@/services/Website.service";

export default {
  name: "BlogPage",

  components: {
    CardBlog,
  },

  data() {
    return {
      companies: [],
      loading: false,
    };
  },
  mounted() {
    this.doListCompanies();
  },
  methods: {
    async doListCompanies() {
      this.loading = true;
      this.companies = [];
      try {
        const { data: ListCompaniesResponse } =
          await WebsiteService.ListCompanies();
        this.companies = ListCompaniesResponse;
      } catch (error) {
        console.log(error);
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>
