// estilos que sobreescriben clases de components

@import 'v-badge';
@import 'v-btn';

.v-text-field__details {
    padding-left: 2px !important;
}

.v-notify {
    top: 10px !important;

    .vue-notification {
        border-radius: 3px;
    }

    .notification-content {
        font-weight: 500;
        font-size: 15px;
    }
}
