<template>
  <v-container class="card py-10">
    <v-card elevation="0" width="700px" align="center" class="mx-auto">
      <v-alert type="success" v-if="isSuccess" dismissible>
        Su mensaje ha sido enviado, le reesponderemos en la brevedad, gracias
        por comunicarte con nosotros!.
      </v-alert>
      <v-card-title class="text-h5 font-weight-regular" justify="center">
        <h3 class="text-center text-h3 flex">Contáctenos</h3>
      </v-card-title>
      <v-col cols="12">
        <v-divider></v-divider>
      </v-col>
      <div class="pa-4 pb-0">
        <v-autocomplete
          v-model="tipo"
          :items="states"
          outlined
          color="black"
          item-text="name"
          item-value="id"
          @change="onChange"
          label="Escoger tipo de problema"
        >
        </v-autocomplete>
      </div>

      <div class="pa-4 pt-0">
        <v-form ref="formContact">
          <v-container fluid>
            <v-row>
              <v-col
                cols="12"
                md="6"
                class="pl-0 py-0"
                v-if="indexPrimer === 1"
              >
                <v-text-field
                  v-model="form.first_name"
                  outlined
                  label="Nombres"
                  autofocus
                  :rules="[rulesRequired('nombres')]"
                ></v-text-field>
              </v-col>

              <v-col
                cols="12"
                md="6"
                class="pr-0 py-0"
                v-if="indexPrimer === 1"
              >
                <v-text-field
                  v-model="form.last_name"
                  outlined
                  color="blue-grey lighten-2"
                  label="Apellidos"
                  :rules="[rulesRequired('apellidos')]"
                ></v-text-field>
              </v-col>
              <v-col cols="12" class="px-0 py-0" v-if="indexCorreo === 1">
                <v-text-field
                  v-model="form.email"
                  outlined
                  color="blue-grey lighten-2"
                  label="Correo Electronico"
                  :rules="[rulesRequired('Correo Electronico'), rulesEmail]"
                ></v-text-field>
              </v-col>
              <v-col class="px-0 py-0" v-if="indexDesc === 1">
                <v-textarea
                  v-model="form.description"
                  outlined
                  color="blue-grey lighten-2"
                  label="Descripción"
                  :rules="[rulesRequired('Descripción')]"
                ></v-textarea>
              </v-col>
              <v-col cols="12" class="px-0 py-0 text-right" v-if="tipo">
                <v-btn
                  color="primary"
                  depressed
                  :loading="loading"
                  :disabled="loading"
                  large
                  min-width="180"
                  @click="onSubmit"
                >
                  Enviar
                </v-btn>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
      </div>
    </v-card>
  </v-container>
</template>

<script>
import { rules } from "@/utils/rules";
import WebsiteService from "@/services/Website.service";

export default {
  data() {
    return {
      valid: false,
      tipo: null,
      isUpdating: false,
      indexCorreo: 0,
      indexDesc: 0,
      indexPrimer: 0,
      rulesRequired: rules.requiredHard,
      rulesEmail: rules.email2,
      loading: false,
      form: {
        first_name: null,
        last_name: null,
        email: null,
        description: null,
      },
      mapStates: {
        1: "DEVOLUCIONES",
        2: "CAMBIOS",
        3: "REEMBOLSOS",
        4: "OTROS",
      },
      isSuccess: false,
      states: [
        { name: "Devoluciones", abbr: "DEV", id: 1 },
        { name: "Cambios", abbr: "CA", id: 2 },
        { name: "Reembolsos", abbr: "RE", id: 3 },
        { name: "Otros", abbr: "OT", id: 4 },
      ],
    };
  },
  methods: {
    onSubmit() {
      const valid = this.$refs.formContact.validate();
      if (valid) {
        this.loading = true;
        const payload = { ...this.form };
        if (this.tipo) {
          payload.type = this.mapStates[this.tipo];
        }
        this.doSendMessage(payload);
      }
    },
    async doSendMessage(payload) {
      this.loading = true;
      try {
        const { data: SendMessageResponse } = await WebsiteService.SendMessage(
          payload
        );
        if (SendMessageResponse) {
          this.isSuccess = true;
          this.$refs.formContact.reset();
        }
      } catch (error) {
        console.log(error);
      } finally {
        this.loading = false;
      }
    },
    onChange(item) {
      switch (item) {
        case 1:
        case 2:
        case 3:
          this.indexPrimer = 1;
          this.indexCorreo = 1;
          this.indexDesc = 1;
          break;
        case 4:
          this.indexPrimer = 0;
          this.indexCorreo = 1;
          this.indexDesc = 1;
          break;
      }
    },
  },
};
</script>

<style>
</style>
