<template>
  <div>
    <v-card class="card-block" color="#FAFAFA">
      <v-img
        class="card-block__image"
        height="230"
        :style="{ backgroundImage: `url(${company.logo})` }"
      ></v-img>

      <v-card-title class="pb-0 mb-1">{{ company.title }}</v-card-title>

      <v-card-text>
        <div class="mb-1 text-subtitle-1">Fundadores: {{ company.author }}</div>

        <div class="card-block__description">{{ company.description }}</div>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {
  name: "CardBlog",
  props: {
    company: {
      type: Object,
      default: null,
    },
  },
};
</script>
<style scoped lang="scss">
.card-block__image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.card-block__description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
</style>
