<template>
	<div class="card-product">
		<div class="card-product__thumb">
			<router-link
				:to="{ name: 'DetailProductRoute', params: { productId: product.sku } }"
				class="card-product__image"
				:style="cmpPicture"
			>
				<!-- <img
          v-if="product && product.image_urls"
          :src="cmpPicture"
          alt="image"
        />
        <img
          v-else
          src="./../assets/images/products/product_01.png"
          alt="product"
        /> -->
			</router-link>
			<span class="card-product__badges">
				<span>{{ product.brand }}</span>
			</span>
			<v-btn
				depressed
				color="primary"
				height="42"
				tile
				class="btn-add-cart"
				:loading="loading"
				:disabled="loading"
				@click="addToCart"
			>
				Agregar a carrito
			</v-btn>
		</div>
		<div class="card-product__content">
			<h5 class="text-capitalize mb-2">
				<router-link
					:to="{
						name: 'DetailProductRoute',
						params: { productId: product.sku },
					}"
					class="card-product__title"
					>{{ product.name }}</router-link
				>
			</h5>
			<div class="card-product__price">S./ {{ product.price }}</div>
		</div>
	</div>
</template>

<script>
import OrderService from "@/services/Order.service";
import { mapState, mapGetters } from "vuex";

import { notifySuccess, notifyError } from "@/helpers/notify";

export default {
	name: "CardProduct",

	props: {
		product: {
			type: Object,
			default: () => ({}),
		},
	},

	data() {
		return {
			toRef: null,
			marca: "Brand",
			loading: false,
		};
	},

	computed: {
		...mapState(["cart", "orderId", "purchase_number"]),
		...mapGetters(["hasOrder"]),
		cmpPicture() {
			// backgroundImage: "url(https://vuejs.org/images/logo.png)"
			//   return this.product.image_urls;
			return { backgroundImage: `url(${this.product.image_urls})` };
		},
	},

	methods: {
		async addToCart() {
			this.loading = true;
			try {
				const { data: ResponseAddProduct } = await OrderService.AddProduct(
					this.product.sku,
					this.orderId
				);
				const {
					uid: orderId,
					items,
					total,
					subtotal,
					total_igv,
					purchase_number,
				} = ResponseAddProduct;

				// si no hay orden, se crea (solo la 1 vez)
				if (!this.hasOrder) {
					this.$store.commit("SET_ORDER_ID", orderId);
					this.$store.commit("SET_PURCHASE_NUMBER", purchase_number);
				}

				if (!this.purchase_number) {
					this.$store.commit("SET_PURCHASE_NUMBER", purchase_number);
				}

				// añade el producto al carrito de compras
				this.$store.commit("UPDATE_CART", {
					products: items,
					total,
					subtotal,
					total_igv,
				});
				notifySuccess("Producto agregado!");
			} catch (error) {
				notifyError("No se pudo agregar al carrito");
			} finally {
				this.loading = false;
			}
		},
	},
};
</script>
<style lang="scss">
.card-product {
	.card-product__cover {
	}
	.btn-action:not(.btn-wishlist) {
		visibility: hidden;
		transform: translateY(20px);
		opacity: 0;
	}
	.btn-add-cart {
		width: 80%;
		position: absolute;
		bottom: 20px;
		left: 0;
		right: 0;
		z-index: 4;
		margin: auto;
		visibility: hidden;
		transition: all 0.3s ease 0s;
		transform: translateY(20px);
		opacity: 0;
	}
	.card-product__thumb {
		position: relative;
		overflow: hidden;
	}
	.card-product__image {
		position: relative;
		display: block;
		overflow: hidden;
		min-height: 380px;
		background-size: cover;
		background-position: center;
		// img {
		//   z-index: 1;
		//   max-width: 100%;
		//   transition: all 0.3s ease 0s;
		//   width: 100%;
		// }
	}
	.card-product__badges {
		position: absolute;
		z-index: 4;
		top: 18px;
		left: 18px;
		span {
			font-size: 13px;
			font-weight: 500;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0 7px;
			text-align: center;
			text-transform: uppercase !important;
			border-radius: 3px;
			color: #fff;
			background-color: green;
			height: 24px;
		}
	}
	.card-product__actions {
		position: absolute;
		z-index: 4;
		top: 18px;
		right: 18px;
		display: flex;
		flex-direction: column;
		transition: all 0.3s ease 0s;
	}
	.card-product__content {
		position: relative;
		z-index: 4;
		display: flex;
		flex-direction: column;
		padding: 10px 15px 0;
		transition: all 0.3s ease 0s;
		text-align: center;
		background-color: #fff;
	}
	.card-product__title {
		text-decoration: none;
		color: #1d1d1d;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		display: block;
		font-size: 16px;
		&:hover {
			color: var(--color-secondary);
		}
	}
	.card-product__price {
		font-size: 16px;
		line-height: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #212121;
		color: #3f3f3f;
		font-weight: 500;
	}
	.btn-hover-action:hover {
		background-color: var(--color-secondary) !important;
		color: white !important;
	}
}

.card-product:hover {
	.btn-action:not(.btn-wishlist) {
		visibility: visible;
		transform: translateY(0);
		opacity: 1;
	}
	.btn-add-cart {
		visibility: visible;
		transform: translateY(0);
		opacity: 1;
	}
}
</style>
