<template>
  <div class="card-comment">
    <div class="card-comment__image">
      <img src="../assets/icons/avatar.png" alt="avatar" />
    </div>
    <div class="card-comment__body">
      <div class="card-comment__info">
        <div class="card-comment__name">
          <h4 class="text-h6">Jerson Victor</h4>
          <p class="mb-0 grey--text text--darken-2">5 days ago</p>
        </div>
      </div>
      <div class="card-comment__media-pragraph mt-2">
        <div class="mb-3">
          <v-icon color="secondary">mdi-star</v-icon>
          <v-icon color="secondary">mdi-star</v-icon>
          <v-icon color="secondary">mdi-star</v-icon>
          <v-icon color="secondary">mdi-star</v-icon>
          <v-icon color="secondary">mdi-star</v-icon>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
          maxime, nesciunt possimus modi doloremque quia illo accusantium,
          cumque, iste doloribus eligendi. Corrupti neque nostrum ea rerum
          perspiciatis necessitatibus exercitationem quasi.
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CardComment",
};
</script>
<style scoped lang="scss">
.card-comment {
  padding: 44px 50px;
  display: flex;
  align-items: flex-start;
  border: 1px solid #dddddd;
  border-radius: 4px;
}
.card-comment__image {
  padding-right: 20px;
  img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
  }
}
.card-comment__body {
  flex: 1;
}
.card-comment__info {
  display: flex;
  justify-content: space-between;
}
</style>