<template>
	<div :class="['quantity-control', { 'quantity-control--dense': dense }]">
		<div class="quantity-control__wrapper">
			<span
				v-ripple
				@click="add"
				class="quantity-control__button quantity-control--add"
				title="Aumentar 1"
			>
				<v-icon :size="cptSize" color="#1a7ad8">mdi-plus</v-icon>
			</span>
			<span class="quantity-control__value">{{ quantity }}</span>
			<span
				v-ripple
				@click="subtract"
				class="quantity-control__button quantity-control--minus"
				title="Remover 1"
			>
				<v-icon :size="cptSize" color="#ff2c1d">mdi-minus</v-icon>
			</span>
		</div>
	</div>
</template>

<script>
import OrderService from "@/services/Order.service";
import { mapState } from "vuex";

import { notifySuccess, notifyError } from "@/helpers/notify";
export default {
	name: "QuantityControl",

	props: {
		quantity: {
			type: Number,
			default: 0,
		},
		sku: {
			required: true,
		},

		dense: {
			type: Boolean,
			default: false,
		},
	},

	data: () => ({
		loading: false,
	}),

	computed: {
		...mapState(["orderId"]),
		cptSize() {
			return this.dense ? 16 : 20;
		},
	},

	methods: {
		async add() {
			try {
				this.emitLoading(true);
				const { data: ResponseAddProduct } = await OrderService.AddProduct(
					this.sku,
					this.orderId
				);
				this.update_cart(ResponseAddProduct);
			} catch (error) {
				notifyError("Ooops! ha ocurrido un error, intentelo nuevamente!");
			} finally {
				this.emitLoading(false);
			}
		},

		async subtract() {
			if (this.quantity > 0) {
				try {
					this.emitLoading(true);
					const {
						data: ResponseDeleteOneProduct,
					} = await OrderService.DeleteOneProduct(this.sku, this.orderId);

					this.update_cart(ResponseDeleteOneProduct);
				} catch (error) {
					notifyError("Ooops! ha ocurrido un error, intentelo nuevamente!");
				} finally {
					this.emitLoading(false);
				}
			}
		},

		update_cart(response) {
			const { items, total, subtotal, total_igv } = response;
			this.$store.commit("UPDATE_CART", {
				products: items,
				total,
				subtotal,
				total_igv,
			});
			notifySuccess("Carrito Actualizado!");
		},

		emitLoading(value) {
			this.$emit("loading", value);
		},
	},
};
</script>

<style lang="scss" scoped>
.quantity-control {
	display: inline-block;

	&__wrapper {
		display: flex;
		align-items: center;
	}

	&__value {
		display: inline-block;
		min-width: 36px;
		font-size: 18px;
		font-weight: 500;
		margin-left: 6px;
		margin-right: 6px;
		color: #1e354e;
		text-align: center;
	}

	&__button {
		display: inline-block;
		width: 32px;
		height: 32px;
		border: 1px solid grey;
		border-radius: 2px;
		line-height: 32px;
		cursor: pointer;
		text-align: center;
	}

	&--add {
		// background-color: #1e88e5;
		border-color: #1a7ad8;
	}

	&--minus {
		// background-color: #ff2c1d;
		border-color: #ff2c1d;
	}
}
.quantity-control--dense {
	.quantity-control__value {
		font-size: 15px;
		min-width: 30px;
		margin-left: 3px;
		margin-right: 3px;
	}
	.quantity-control__button {
		width: 28px;
		height: 28px;
		line-height: 28px;
	}
}
</style>
