<template>
	<div class="screen-loader">
		<span class="screen-loader__text">
			<slot>
				Cargando ...
			</slot>
		</span>
	</div>
</template>

<script>
export default {
	name: "ScreenLoader",
};
</script>

<style lang="scss" scoped>
.screen-loader {
	position: absolute;
	background-color: #fafafa57;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	&__text {
		font-size: 20px;
		font-weight: 600;
		letter-spacing: 0.25rem;
		color: #252b4c;
	}
}
</style>
