<template>
	<ul class="unlist pa-0">
		<li class="mb-2">
			<div class="flex-center-between font-weight-medium subtitle-1">
				<span class="text-darken">Subtotal</span>
				<span class="text-cloud-burst">{{ subtotal | currency }}</span>
			</div>
		</li>
		<li class="mb-2">
			<div class="flex-center-between font-weight-medium subtitle-1">
				<span class="text-darken">Costo de envío</span>
				<span class="text-cloud-burst">{{ "0" | currency }}</span>
			</div>
		</li>
		<li class="mb-4">
			<div class="flex-center-between font-weight-medium subtitle-1">
				<span class="text-darken">Impuesto(IGV)</span>
				<span class="text-cloud-burst">{{ totalIgv | currency }}</span>
			</div>
		</li>
		<li class="">
			<div class="flex-center-between font-weight-bold text-h6">
				<span class="text-darken text-uppercase">total</span>
				<span class="text-cloud-burst">{{ total | currency }}</span>
			</div>
		</li>
	</ul>
</template>

<script>
import { mapGetters } from "vuex";
export default {
	name: "SummaryPayment",

	computed: {
		...mapGetters(["total", "subtotal", "totalIgv"]),
	},
};
</script>
