.v-breadcrumbs {
    .v-breadcrumbs__item {
        font-weight: 500;
        color: #242A33 !important;
    }

    .v-breadcrumbs__item--disabled {
        color: #828D9E !important;
        font-weight: 400;
    }
}