.table-cart {
    .v-data-table-header {
        th {
            font-size: 15px !important;
            font-weight: 500;
            color: var(--color-grey-bold) !important;
            line-height: normal;
        }
    }
}

.item-row-product {
    td {
        padding-top: 16px !important;
        padding-bottom: 16px !important;
    }
}