:root {
    --color-primary: #000;
    --color-secondary: #BE1E2D;

    --color-grey-bold: #242A33;
    --color-silver: #828D9E;
    --color-grey: #DDDFE3;
    --color-grey-light: #F1F3F6;
    --color-cloud-burst: #1e354e;
}