<template>
  <div id="order-page">
    <v-container class="py-10">
      <v-row>
        <v-col cols="12">
          <h2 class="text-center text-h3 mb-5">Mis Ordenes</h2>
        </v-col>
        <v-col cols="12">
          <v-row v-if="loading" justify="center">
            <v-col cols="auto">
              <v-progress-circular
                indeterminate
                color="primary"
              ></v-progress-circular>
            </v-col>
          </v-row>
          <v-row v-else>
            <template v-if="orders.length">
              <v-col cols="12">
                <v-data-table
                  :headers="headers"
                  :items="orders"
                  :items-per-page="5"
                  class="elevation-0 table-order"
                >
                  <template v-slot:[`item.uid`]="{ item: { uid } }">
                    {{ parseToCode(uid) }}
                  </template>
                  <template
                    v-slot:[`item.created_at`]="{ item: { created_at } }"
                  >
                    {{ parteToDate(created_at) }}
                  </template>
                  <template v-slot:[`item.ordered`]="{ item: { ordered } }">
                    <div
                      :class="[
                        'state-order',
                        `order-${ordered ? 'complete' : 'pending'}`,
                      ]"
                    >
                      {{ ordered ? "completado" : "pendiente" }}
                    </div>
                  </template>
                  <template v-slot:[`item.subtotal`]="{ item }">
                    S/. {{ item.subtotal.toFixed(2) }}
                  </template>
                  <template v-slot:[`item.total_igv`]="{ item }">
                    S/. {{ item.total_igv.toFixed(2) }}
                  </template>
                  <template v-slot:[`item.total`]="{ item }">
                    S/. {{ item.total.toFixed(2) }}
                  </template>
                  <template v-slot:[`item.actions`]="{ item: { uid } }">
                    <v-menu bottom left>
                      <template v-slot:activator="{ on, attrs }">
                        <v-btn icon v-bind="attrs" v-on="on">
                          <v-icon>mdi-dots-vertical</v-icon>
                        </v-btn>
                      </template>

                      <v-list>
                        <v-list-item
                          link
                          :to="{
                            name: 'OrderDetailRoute',
                            params: { id: uid },
                          }"
                        >
                          <v-list-item-title>Ir a detalle</v-list-item-title>
                        </v-list-item>
                        <v-list-item link>
                          <v-list-item-title>Reportar</v-list-item-title>
                        </v-list-item>
                      </v-list>
                    </v-menu>
                  </template>
                </v-data-table>
              </v-col>

            </template>
            <template v-else>
              <v-col cols="12">
                <v-card elevation="0" color="#eee">
                  <v-card-text class="text-center text-h6 primary-text py-8">
                    No se encontraron productos
                  </v-card-text>
                </v-card>
              </v-col>
            </template>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import OrderService from "@/services/Order.service";

export default {
  name: "OrdersPage",

  data() {
    return {
      headers: [
        {
          text: "Orden",
          align: "center",
          sortable: false,
          value: "uid",
        },
        {
          text: "Correo Electronico",
          align: "center",
          sortable: false,
          value: "user",
        },
        {
          text: "Fecha",
          align: "center",
          sortable: false,
          value: "created_at",
        },
        {
          text: "Estado",
          align: "center",
          sortable: false,
          value: "ordered",
        },
        {
          text: "Subtotal",
          align: "center",
          sortable: false,
          value: "subtotal",
        },
        {
          text: "Igv",
          align: "center",
          sortable: false,
          value: "total_igv",
        },
        {
          text: "Total",
          align: "center",
          sortable: false,
          value: "total",
        },
        {
          text: "Acciones",
          align: "center",
          sortable: false,
          value: "actions",
        },
      ],
      loading: false,
      orders: [],
    };
  },

  mounted() {
    this.getListMeOrders();
  },

  methods: {
    async getListMeOrders() {
      this.loading = true;
      try {
        const { data: MeOrdersResponse } = await OrderService.ListMeOrders();
        this.orders = MeOrdersResponse.results;
      } catch (error) {
        console.log(error);
      } finally {
        this.loading = false;
      }
    },

    parteToDate(date) {
      return new Date(date).toLocaleDateString(undefined, {
        year: "numeric",
        month: "2-digit",
        day: "2-digit",
      });
    },

    parseToCode(uid) {
      return uid.split("-")[0].toUpperCase();
    },
  },
};
</script>
<style lang="scss">
.state-order {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.025rem;
  font-weight: 500;
  border-radius: 3px;
}
.order-complete {
  background-color: #06910c;
  color: #fff;
}
.order-pending {
  background-color: #fab23f;
  color: #fff;
}
.table-order {
  .v-data-table-header {
    background-color: #e5e5e5;

    span {
      font-size: 15px;
      font-weight: 500;
      color: #333;
    }
  }
}
</style>