<template>
  <div id="order-detail-page">
    <v-container class="py-10">
      <v-row>
        <v-col cols="12" class="mb-5">
          <h2 class="text-center text-h3 mb-5">Detalle de Orden</h2>
          <h3 v-if="codeOrder" class="text-center text-uppercase">
            Orden: {{ codeOrder }}
          </h3>
        </v-col>
      </v-row>
      <v-col cols="12">
        <v-row v-if="loading" justify="center">
          <v-col cols="auto">
            <v-progress-circular
              indeterminate
              color="primary"
            ></v-progress-circular>
          </v-col>
        </v-row>
        <v-row v-else>
          <template v-if="products.length">
            <v-col cols="12" class="pb-0 font-weight-medium"> Lista de Productos </v-col>
            <v-col cols="12">
              <v-data-table
                :headers="headers"
                :items="products"
                :items-per-page="5"
                class="elevation-0 table-order"
                hide-default-footer
              >
                <template v-slot:[`item.subtotal`]="{ item }">
                  S/. {{ item.subtotal.toFixed(2) }}
                </template>
                <template v-slot:[`item.total_igv`]="{ item }">
                  S/. {{ item.subtotal_igv.toFixed(2) }}
                </template>
                <template v-slot:[`item.total`]="{ item }">
                  S/. {{ item.total.toFixed(2) }}
                </template>
              </v-data-table>
            </v-col>
            <v-col cols="12">
              <v-divider></v-divider>
            </v-col>
            <v-col cols="12" class="text-h6 text-right font-weight-bold">
              Subtotal: S/. {{ subtotal }}
            </v-col>
            <v-col cols="12" class="py-0">
              <v-divider></v-divider>
            </v-col>
            <v-col cols="12" class="text-h6 text-right font-weight-bold">
              Igv: S/. {{ totalIgv }}
            </v-col>
            <v-col cols="12" class="py-0">
              <v-divider></v-divider>
            </v-col>
            <v-col cols="12" class="text-h5 text-right font-weight-bold">
              Total: S/. {{ total }}
            </v-col>
          </template>
          <template v-else>
            <v-col cols="12">
              <v-card elevation="0" color="#eee">
                <v-card-text class="text-center text-h6 primary-text py-8">
                  No se encontraron productos
                </v-card-text>
              </v-card>
            </v-col>
          </template>
        </v-row>
      </v-col>
    </v-container>
  </div>
</template>

<script>
import OrderService from "@/services/Order.service";

export default {
  name: "OrderDetailPage",

  data() {
    return {
      headers: [
        {
          text: "SKU",
          align: "center",
          sortable: false,
          value: "item_sku",
        },
        {
          text: "Nombre",
          align: "center",
          sortable: false,
          value: "item_name",
        },
        {
          text: "Marca",
          align: "center",
          sortable: false,
          value: "item_brand",
        },
        {
          text: "cantidad",
          align: "center",
          sortable: false,
          value: "quantity",
        },
        {
          text: "Subtotal",
          align: "center",
          sortable: false,
          value: "subtotal",
        },
        {
          text: "Igv",
          align: "center",
          sortable: false,
          value: "total_igv",
        },
        {
          text: "Total",
          align: "center",
          sortable: false,
          value: "total",
        },
      ],
      loading: false,
      products: [],
      codeOrder: null,
    };
  },

  mounted() {
    const { id } = this.$route.params;
    if (id) {
      this.getDetailOrder(id);
    }
  },

  methods: {
    async getDetailOrder(uid) {
      this.loading = true;
      try {
        const { data: MeOrdersResponse } = await OrderService.OrderDetail(uid);
        this.products = MeOrdersResponse.items;
        this.subtotal = MeOrdersResponse.subtotal;
        this.totalIgv = MeOrdersResponse.total_igv;
        this.total = MeOrdersResponse.total;
        this.codeOrder = MeOrdersResponse.uid.split("-")[0];
      } catch (error) {
        console.log(error);
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>
<style lang="scss">
.table-order {
  .v-data-table-header {
    background-color: #e5e5e5;

    span {
      font-size: 15px;
      font-weight: 500;
      color: #333;
    }
  }
}
</style>