<template>
	<div id="shopping-cart" class="py-10">
		<v-container>
			<v-row>
				<v-col cols="12">
					<v-breadcrumbs :items="navigationItems" class="pa-0">
						<template v-slot:divider>
							<v-icon>mdi-chevron-right</v-icon>
						</template>
					</v-breadcrumbs>
				</v-col>
				<v-col cols="12">
					<title-page
						>Shopping Cart
						{{ cartCount > 0 ? `(${cartCount})` : "" }}</title-page
					>
				</v-col>
			</v-row>
			<v-row>
				<v-col>
					<TableProductsCart />
				</v-col>
				<v-col style="max-width: 360px">
					<SummaryTotal />
				</v-col>
			</v-row>
		</v-container>
	</div>
</template>

<script>
import TableProductsCart from "./TableProductsCart.vue";
import SummaryTotal from "./SummaryTotal.vue";
import { mapGetters } from "vuex";

export default {
	name: "ShoppingCart",

	components: {
		TableProductsCart,
		SummaryTotal,
	},

	computed: {
		...mapGetters(["cartCount"]),
	},

	data: () => ({
		navigationItems: [
			{
				text: "Catálogo",
				disabled: false,
				exact: true,
				to: {
					name: "ListProductsRoute",
				},
			},
			{
				text: "Carrito de compra",
				disabled: true,
			},
		],
	}),
};
</script>
