<template>
	<v-card outlined>
		<v-card-title class="text-darken">
			Resumen Total
		</v-card-title>
		<v-divider></v-divider>
		<v-card-text>
			<SummaryPayment class="mb-5" />
			<v-btn
				v-if="cartCount > 0"
				large
				block
				color="secondary"
				dark
				depressed
				class="mb-4"
				@click="goToCheckout"
			>
				Checkout <v-icon color="#FFF">mdi-chevron-right</v-icon>
			</v-btn>
			<v-btn
				outlined
				large
				block
				color="#DDDFE3"
				class="text-silver"
				:to="{ name: 'ListProductsRoute' }"
			>
				<v-icon color="#828D9E">mdi-chevron-left</v-icon>
				<span class="text-silver">
					Continuar comprando
				</span>
			</v-btn>
		</v-card-text>
	</v-card>
</template>

<script>
import { mapGetters } from "vuex";
import SummaryPayment from "@/components/SummaryPayment";

export default {
	name: "SummaryTotal",

	components: {
		SummaryPayment,
	},

	computed: {
		...mapGetters(["isAuthenticated", "cartCount"]),
	},

	methods: {
		goToCheckout() {
			if (this.isAuthenticated) {
				this.$router.push({ name: "CheckoutRoute" });
			} else {
				this.$router.push({ name: "LoginRoute", query: { to: "checkout" } });
			}
		},
	},
};
</script>
