<template>
	<v-card outlined>
		<v-data-table
			:headers="headers"
			:items="products"
			:item-class="() => 'item-row-product'"
			hide-default-footer
			no-data-text="No se encontraron datos"
			:class="['table-cart', { 'effect-blur': loading }]"
		>
			<template v-slot:[`item.product`]="{ item }">
				<div class="d-flex align-center">
					<v-img
						:src="item.item_image"
						:alt="item.item_name"
						max-width="64"
						class="rounded mr-4"
					></v-img>
					<div>
						<h5 class="subtitle-1 font-weight-medium text-darken">
							<router-link
								:to="{
									name: 'DetailProductRoute',
									params: { productId: item.item_sku },
								}"
								class="link"
							>
								{{ item.item_name }}</router-link
							>
						</h5>
						<h6 class="body-2 text-silver font-weight-medium">
							Sku: {{ item.item_sku }}
						</h6>
					</div>
				</div>
			</template>
			<template v-slot:[`item.price`]="{ item }">
				<span class="body-2 font-weight-medium text-darken">
					{{ item.item_price | currency }}</span
				>
			</template>
			<template v-slot:[`item.quantity`]="{ item }">
				<QuantityControl
					:quantity="item.quantity"
					:sku="item.item_sku"
					@loading="onControlLoading"
				/>
			</template>
			<template v-slot:[`item.subtotal`]="{ item }">
				<span class="body-2 font-weight-medium text-darken">
					{{ item.subtotal | currency }}</span
				>
			</template>
			<template v-slot:[`item.delete`]="{ item }">
				<v-btn icon>
					<v-icon
						@click="onRemoveItem(item)"
						color="error"
						title="Remover Item"
					>
						mdi-trash-can-outline
					</v-icon>
				</v-btn>
			</template>
		</v-data-table>
		<ScreenLoader v-if="loading">Acutalizando...</ScreenLoader>
	</v-card>
</template>

<script>
import OrderService from "@/services/Order.service";
import { mapGetters, mapState } from "vuex";

import { notifySuccess, notifyError } from "@/helpers/notify";
import QuantityControl from "@/components/QuantityControl";
import ScreenLoader from "@/components/ScreenLoader";

export default {
	name: "TableProductsCart",

	components: {
		QuantityControl,
		ScreenLoader,
	},

	data: () => ({
		headers: [
			{
				text: "N°",
				align: "center",
				sortable: false,
				value: "index",
				width: 48,
			},
			{
				text: "Producto",
				align: "start",
				sortable: false,
				value: "product",
			},
			{
				text: "Precio por unidad",
				align: "center",
				sortable: false,
				value: "price",
				width: 140,
			},
			{
				text: "Cantidad",
				align: "center",
				sortable: false,
				value: "quantity",
				width: 150,
			},
			{
				text: "Subtotal",
				align: "center",
				sortable: false,
				value: "subtotal",
				width: 160,
			},
			{
				text: "",
				align: "center",
				sortable: false,
				value: "delete",
				width: 60,
			},
		],
		loading: false,
	}),

	computed: {
		...mapState(["orderId"]),
		...mapGetters({
			products: "cartProducts",
		}),
	},

	methods: {
		onControlLoading(value) {
			this.loading = value;
		},
		async onRemoveItem(item) {
			this.loading = true;
			try {
				const { data: ResponseRemove } = await OrderService.RemoveProduct(
					item.item_sku,
					this.orderId
				);
				const { items, total, subtotal, total_igv } = ResponseRemove;
				this.$store.commit("UPDATE_CART", {
					products: items,
					total,
					subtotal,
					total_igv,
				});
				notifySuccess("Carrito Actualizado!");
			} catch (error) {
				notifyError("Ooops! ha ocurrido un error, intentelo nuevamente!");
			} finally {
				this.loading = false;
			}
		},
	},
};
</script>
