<template>
  <div>
    <div class="page-home">
      <div class="overlay">
        <div class="overlay__content--row-center">
          <v-container class="w-100">
            <v-row class="text-center">
              <v-col cols="12">
                <h1 class="title">Moda <strong>Sostenible</strong></h1>
                <h3 class="mb-3 text-save">Ahorra 50%</h3>
                <v-btn
                  depressed
                  color="secondary"
                  :large="$vuetify.breakpoint.mdAndUp"
                  :to="{ name: 'ListProductsRoute' }"
                  >Comprar Ahora</v-btn
                >
              </v-col>
            </v-row>
          </v-container>
        </div>
      </div>
    </div>

    <HotProducts />

    <AreaInstagram />
  </div>
</template>

<script>
import HotProducts from "./sections/HotProducts.vue";
import AreaInstagram from "./sections/AreaInstagram.vue";

export default {
  name: "Home",

  components: {
    HotProducts,
    AreaInstagram,
  },
};
</script>
<style lang="scss" scoped>
@import "~vuetify/src/styles/settings/_variables";

.title {
  font-size: 2rem !important;
  margin-bottom: 1rem;
  color: white;
  @media #{map-get($display-breakpoints, 'sm-and-up')} {
    font-size: 3rem !important;
  }
  @media #{map-get($display-breakpoints, 'md-and-up')} {
    font-size: 4rem !important;
  }
  @media #{map-get($display-breakpoints, 'lg-and-up')} {
    font-size: 5rem !important;
  }
}
.text-save {
  font-size: 1.25rem !important;
  color: white !important;
}
.page-home {
  height: 100%;
  min-height: 360px;
  position: relative;
  background-image: url("../../assets/images/carousel/fashion_01.jpg");
  background-size: cover;
  background-position: top center;
}
</style>