<template>
	<div id="page-login" class="pt-10">
		<v-container>
			<v-card width="480" class="mx-auto" elevation="0">
				<v-form ref="formLogin" autocomplete="off">
					<v-row>
						<v-col cols="12">
							<h2 class="text-center">Inicia Sesión</h2>
						</v-col>
						<v-col cols="12">
							<v-text-field
								v-model="form.email"
								label="Correo Electronico"
								outlined
								:rules="[rulesRequired('Email'), rulesEmail]"
								autocomplete="off"
							>
								></v-text-field
							>
						</v-col>
						<v-col cols="12">
							<v-text-field
								v-model="form.password"
								label="Contraseña"
								type="password"
								outlined
								:rules="[rulesRequired('Contraseña')]"
								autocomplete="off"
							></v-text-field>
						</v-col>
						<v-col cols="12" class="py-0">
							<v-btn
								depressed
								height="60"
								block
								color="primary"
								:loading="loading"
								:disabled="loading"
								@click="onSubmit"
								>Ingresar</v-btn
							>
						</v-col>
						<v-col cols="12" class="mt-3 text-center grey--text text--darken-3">
							<span class="">¿No tienes cuenta?</span>
							<router-link
								:to="{ name: 'RegisterRoute' }"
								class="ml-2 secondary--text"
								>Regístrate</router-link
							>
						</v-col>
					</v-row>
				</v-form>
			</v-card>
		</v-container>
	</div>
</template>

<script>
// conponents
import { rules } from "@/utils/rules";
import AuthService from "@/services/Auth.service";
import { notifySuccess, notifyError } from "@/helpers/notify";

export default {
	name: "LoginPage",

	data: () => ({
		form: {
			email: null,
			password: null,
		},
		rulesRequired: rules.requiredHard,
		rulesEmail: rules.email2,
		loading: false,
	}),

	computed: {
		computedVisible: {
			get() {
				return this.visible;
			},
			set(val) {
				if (!val) {
					this.$emit("onClose");
				}
			},
		},
	},
	methods: {
		onSubmit() {
			const valid = this.$refs.formLogin.validate();
			if (valid) {
				const { email, password } = this.form;
				const payload = {
					email,
					password,
				};
				this.doLoginUser(payload);
			}
		},
		async doLoginUser(payload) {
			this.loading = true;
			try {
				const { data: LoginUserResponse } = await AuthService.LoginUser(
					payload
				);

				this.startSession(LoginUserResponse);

				notifySuccess("Inició sesión correctamente");

				// redirect to Products
				this.goToView();
			} catch (error) {
				notifyError("Oops, ocurrio uin error, intentelo nuevamente!");
			} finally {
				this.loading = false;
			}
		},

		startSession(LoginResponse) {
			const data = { ...LoginResponse };
			const token = data.token;
			delete data.token;
			const user = data;

			this.$store.commit("UPDATE_SESSION", {
				user,
				token,
			});
		},

		goToView() {
			const params = this.$route.query;
			if (params && params.to && params.to === "checkout") {
				this.$router.push({ name: "CheckoutRoute" });
			} else {
				this.$router.push({ name: "ListProductsRoute" });
			}
		},
	},
};
</script>
