<template>
  <v-footer app padless class="position-static">
    <v-card flat tile class="w-100" color="#eee">
      <v-card-text class="py-10 px-0">
        <v-container>
          <v-row>
            <v-col cols="12" md="4">
              <div class="mb-3">
                <img src="../assets/icons/logo-footer.png" alt="amsp" width="320" />
              </div>
            </v-col>
            <v-col cols="12" md="4" class="pl-12">
              <h3 class="mb-3 secondary--text font-weight-medium">
                GESTIÓN DE CUENTA
              </h3>
              <ul class="unlist pa-0">
                <li class="mb-2">
                  <router-link to="/" class="link">Mi Cuenta</router-link>
                </li>
                <li class="mb-2">
                  <router-link class="link" to="/">Actualizar Datos</router-link>
                </li>
                <li class="mb-2">
                  <router-link class="link" to="/">Cambio de Clave</router-link>
                </li>
                <li class="mb-2">
                  <router-link class="link" to="/">Socios</router-link>
                </li>
              </ul>
            </v-col>
            <v-col cols="12" md="4" class="pl-12">
              <h3 class="mb-3 secondary--text font-weight-medium">
                INFORMACIÓN PARA EL CLIENTE
              </h3>
              <ul class="unlist pa-0">
                <li class="mb-2">
                  <router-link to="/" class="link">Quiénes Somos</router-link>
                </li>
                <li class="mb-2">
                  <router-link class="link" to="/">Preguntas Frecuentes</router-link>
                </li>
                <li class="mb-2">
                  <router-link class="link" to="/">Términos y Condiciones</router-link>
                </li>
                <li class="mb-2">
                  <router-link class="link" to="/">Libro de reclamaciones</router-link>
                </li>
                <li class="mb-2">
                  <router-link class="link" :to="{ name : 'ContactRoute'}">Contáctenos</router-link>
                </li>
              </ul>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-text class="black px-0 py-3">
        <v-container class="py-0">
          <v-row no-gutters align-content="center">
            <v-col
              cols="12"
              md="6"
              :class="$vuetify.breakpoint.mdAndUp ? 'text-left' : 'text-center'"
            >
              <div class="secondary--text font-weight-medium mt-1">
                © CopyRight 2021
              </div>
            </v-col>
            <v-col
              cols="12"
              md="6"
              :class="
                $vuetify.breakpoint.mdAndUp ? 'text-right' : 'text-center'
              "
            >
              <div class="leading-none">
                <img src="./../assets/images/payments.png" alt="pagos" />
              </div>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
    </v-card>
  </v-footer>
</template>

<script>
export default {
  name: "FooterApp",
};
</script>