<template>
  <v-app>
    <HeaderApp app />

    <v-main class="pb-0">
      <router-view />
    </v-main>

    <FooterApp app />

    <notifications group="notify" position="top center" class="v-notify" />
  </v-app>
</template>

<script>
import HeaderApp from "@/layouts/HeaderApp/index";
import FooterApp from "@/layouts/FooterApp";

import { setTokenToHttp } from "@/helpers/cache";

export default {
  name: "LayoutMain",

  components: {
    HeaderApp,
    FooterApp,
  },

  mounted() {
    setTokenToHttp();
  },
};
</script>