<template>
	<h2 class="title-page">
		<slot>Título</slot>
	</h2>
</template>

<script>
export default {
	name: "TitlePage",
};
</script>

<style>
.title-page {
	color: #1e354e;
	font-weight: 500;
	font-size: 32px;
}
</style>
